<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feni Central High School Scout Group</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/animetion.css">
</head>
<body>
    <div class="loader-container">
        <img src="static/s.jpg" alt="Scout Logo" class="scout-logo">
        <h1 class="falling-text">Welcome To Feni Central High School Scout Group</h1>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <script src="static/animetion.js"></script>
</body>
</html>
